[submodule "part_drivers/button"]
	path = part_drivers/button
	url = https://github.com/STMicroelectronics/stm32-button-part-drivers.git
	branch = main
[submodule "middleware/mcuboot"]
	path = middleware/mcuboot
	url = https://github.com/STMicroelectronics/stm32-mw-mcuboot.git
	branch = hal2
[submodule "middleware/levelx"]
	path = middleware/levelx
	url = https://github.com/STMicroelectronics/stm32-mw-levelx.git
	branch = hal2
[submodule "utilities/thread_safe_libc"]
	path = utilities/thread_safe_libc
	url = https://github.com/STMicroelectronics/stm32-util-thread-safe-libc.git
	branch = main
[submodule "part_drivers/w25q128j"]
	path = part_drivers/w25q128j
	url = https://github.com/STMicroelectronics/stm32-w25q128j-part-drivers.git
	branch = main
[submodule "utilities/syscalls"]
	path = utilities/syscalls
	url = https://github.com/STMicroelectronics/stm32-util-syscalls.git
	branch = main
[submodule "part_drivers/led"]
	path = part_drivers/led
	url = https://github.com/STMicroelectronics/stm32-led-part-drivers.git
	branch = main
[submodule "middleware/lwip"]
	path = middleware/lwip
	url = https://github.com/STMicroelectronics/stm32-mw-lwip.git
	branch = hal2
[submodule "arch/cmsis"]
	path = arch/cmsis
	url = https://github.com/STMicroelectronics/cmsis-core.git
	branch = master
[submodule "utilities/basic_stdio"]
	path = utilities/basic_stdio
	url = https://github.com/STMicroelectronics/stm32-util-basic-stdio.git
	branch = main
[submodule "part_drivers/w25n01gvxx"]
	path = part_drivers/w25n01gvxx
	url = https://github.com/STMicroelectronics/stm32-w25n01gvxx-part-drivers.git
	branch = main
[submodule "stm32c5xx_drivers"]
	path = stm32c5xx_drivers
	url = https://github.com/STMicroelectronics/stm32c5xx-drivers.git
	branch = main
[submodule "stm32c5xx_dfp"]
	path = stm32c5xx_dfp
	url = https://github.com/STMicroelectronics/stm32c5xx-dfp.git
	branch = main
[submodule "utilities/eeprom_emulation"]
	path = utilities/eeprom_emulation
	url = https://github.com/STMicroelectronics/stm32-util-eeprom-emulation.git
	branch = main
[submodule "middleware/stfcf"]
	path = middleware/stfcf
	url = https://github.com/STMicroelectronics/stm32-mw-stfcf.git
	branch = hal2
[submodule "middleware/mbedtls"]
	path = middleware/mbedtls
	url = https://github.com/STMicroelectronics/stm32-mw-mbedtls.git
	branch = hal2
[submodule "utilities/sequencer"]
	path = utilities/sequencer
	url = https://github.com/STMicroelectronics/stm32-util-sequencer
	branch = main
[submodule "middleware/filex"]
	path = middleware/filex
	url = https://github.com/STMicroelectronics/stm32-mw-filex.git
	branch = hal2
[submodule "part_drivers/lan8742"]
	path = part_drivers/lan8742
	url = https://github.com/STMicroelectronics/stm32-lan8742-part-drivers.git
	branch = main
[submodule "arch/cmsis_dsp"]
	path = arch/cmsis_dsp
	url = https://github.com/STMicroelectronics/cmsis-dsp.git
	branch = main
[submodule "middleware/usbx"]
	path = middleware/usbx
	url = https://github.com/STMicroelectronics/stm32-mw-usbx.git
	branch = hal2
[submodule "middleware/freertos"]
	path = middleware/freertos
	url = https://github.com/STMicroelectronics/stm32-mw-freertos.git
	branch = hal2
[submodule "utilities/advanced_trace"]
	path = utilities/advanced_trace
	url = https://github.com/STMicroelectronics/stm32-util-advanced-trace.git
	branch = main
